# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

/.vscode
/.idea
.DS_Store
/env
/venv
wallet/.env
__pycache__
# migrations
# /assets/vendor
# /node_modules
# /assets/uploads/*/*
# !/assets/uploads/*/.gitkeep
